@font-face {
    font-family: Norse-Bold;
    src:url(font/Norse-Bold.otf);
}
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}


#form-container{
    background-color: white;
    border: 1px solid gray;
    box-shadow: 5px 2px 5px gray;
}
label, input{
    display:block;
}

input{
    width:250px;
    height:20px;
    border-radius: 5px;
}
.book{
    list-style: none;
}
/* list*/
.library-container{
    display: grid;
    gap:20px;
    flex-direction: column;
    margin: 40px;
}

