@font-face {
    font-family: Norse-Bold;
    src:url(font/Norse-Bold.otf);
}
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
main{
    display:flex;
    flex-direction: row;
 
} 
/* top quote */

.main-container{
    position: absolute;
    width:50%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
    margin: 40px;
    top:60px;
}
.btn{
    width: 100px;
    height: 40px;
    background-color: rgb(77, 117, 86);
    color:whitesmoke;
    border-radius: 5px
}
/* form */

#form-container{
    position: absolute;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    top:410px;
    width:100vw;
    height: 30vh;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 5px 2px 5px gray;
}
label, input{
    display:block;
}

input{
    width:250px;
    height:20px;
    border-radius: 5px;
}
.hidden{
    display:none;
}

/* bottom form */ 

.submit{
    border-radius: 10px;
    background-color: rgb(77, 117, 86);
    color: white;
    font-weight: 800;
    font-size: 1rem;
    height: 50px;
    width: 200px;
}

/* list*/

.library-container{
    display:flex;
    gap:20px;
    position:relative;
    flex-direction: column;
    top: 800px;
    margin: 40px;
}

